# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
venv/
__pycache__/
*.pyc

# Logs
*.log

# IDE
.vscode/
.idea/

# Build
build/
dist/
*.egg-info/

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite
